
    </div>
<br><br><br><br>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<p class="text-center">Store &copy; Copyright </p>


<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"> </script> -->

<!-- offline bootstrap js -->
<script src="/js/bootstrap.js"> </script>

<!-- CKEDITOR js -->
<script src="//cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
<!-- OFFLINE CKEDITOR js -->
<!-- <script src="/js/ckedit.js"></script> -->

<!-- Main js -->
<script src="/js/main.js"></script>

</body>
</html>
