<%- include ('_layouts/header1') %> 

<main class="l-main">
  
    <!--========== ABOUT ==========-->
    <section class="about section bd-container">
        <div class="containermax">
                <h1 class="section-subtitle about__initial" style="text-align: center;font-size: 250%;">About us</h1>
                <h5 class="section-title about__initial" style="text-align: center;">We sell the best trendy wears</h5>
                <p class="about__description">March into a world of chic designs and unique treasures hand-selected for your closet; a world where the hottest trends 
                    and styles collide to create an unmatched selection of apparel and accessories. Step The King's Luxury Wears Boutique!
                    At The King's Luxury Wears, we have a passion for fashion and are constantly searching to fill our 
                    collection with a limited selection of unique pieces so that when you buy from The King's Luxury Wears Boutique, 
                    you know your individual style will always stand out from the crowd and shine.  
                    We strive to inspire you with ideas to create your own look with our Boutique.
                    Stop by our store to experience The King's Luxury Wears Boutique in person 
                    or browse our online website for both in-store items and our extended collection. 
                    From dresses to denim to the trendiest accessories, we are constantly replenishing our collection– 
                    offering styles for every occasion – to keep items fresh and on the cutting edge of fashion!</p><br>
            <p class="center">Ready to Start Exploring our Platform?</p> <br>
            <a href="/products/" class="button">Explore Now</a>
        </div>
    </section>
    <br><br><br>
    <!--========== Contact ==========-->
    <section class="about section bd-container" id="contact-us">
        <div class="containermax">
                <h1 class="section-subtitle about__initial" style="text-align: center;font-size: 250%;">Contact us</h1> <br>
                <p>Our Address:</p>
                <p>02, Jesu Oseun Street, Off Rafco Street, Agbado station, Ogun State.</p><br>
                <a href="tel:09062047667" class="button">Call</a> <br> <br>
                <div class="center">
        <a href="https://mobile.twitter.com/the_kings_wears">
            <span class="fa-stack fa-lg">
                <i class="fab fa-twitter"></i>
            </span>
        </a> &nbsp; &nbsp;
        <a href="https://www.instagram.com/the_kings_luxury_wears/">
            <span class="fa-stack fa-lg">
                <i class="fab fa-instagram"></i>
            </span>
        </a> &nbsp; &nbsp;
        <a href="http://wa.me/+2347068180167">
            <span class="fa-stack fa-lg">
                <i class="fab fa-whatsapp"></i>
            </span>
        </a> &nbsp; &nbsp;
        <a href="mailto:thekingsluxurywears@gmail.com"
            <span class="fa-stack fa-lg">
                <i class="fas fa-envelope"></i>
            </span>
        </a> &nbsp; &nbsp;
        <a href="https://facebook.com/the_kings_luxury_wears-101060198589210"
            <span class="fa-stack fa-lg">
                <i class="fab fa-facebook"></i>
            </span>
        </a>
    </div>
            </div>
    </section>
  

</main>


<%- include ('_layouts/footer1') %> 