<%- include ('../views/_layouts/adminheader1') %> 

<section class="menu section bd-container">
    <div class="center">
        <h1 class="center">Admin Home</h1>
        <p>Welcome Admin!</p>
    </div>
</section>

<%- include ('../views/_layouts/adminfooter1') %> 