<%- include ('_layouts/header1') %> 

<div class="container1">
    <div class="img">
        <img src="/images/bg.svg">
    </div>
    <div class="login-content">
        <form action="/users/forgot-password" method="post">
            <img src="/images/avatar.svg">
            <h4 class="title">You forgot password? <br> No worries you can reset it, fill in your mail.</h4> <br>
            <div class="input-div one">
                <div class="i">
                      <i class="fas fa-user"></i>
                </div>
                <div class="div">
                      <h5>E-mail</h5>
                      <input type="email" class="input" name="email">
                </div>
            </div>
            <input type="submit" class="btn" value="Login">
        </form>
    </div>
</div>

<%- include ('_layouts/footer1') %> 