<%- include ('_layouts/header1') %> 

<div class="search" id="search-div">
    <form method="post" action="/products/search" class="center">
        <input style="font-size: 17px;width: 100%;background-color:#c7d1cc" type="text" name="search" placeholder="Search" value=""> <br><br>
        <button style="font-size: 17px;" class="btn1" type="submit">Search</button>
    </form>
</div>

<br><br><br><br><br>
<%- include ('_layouts/footer1') %> 