<%- include ('_layouts/header1') %> 

<br>
<main class="l-main">
   <!--========== SERVICES ==========-->
    <section class="services section bd-container" id="services">
        <!-- <span class="section-subtitle">Offering</span> -->
        <h2 class="section-subtitle about__initial center">Our amazing services</h2>

        <div class="services__container  bd-grid">
            <div class="services__content">
                <h3 class="services__title">Trendy Wears</h3>
                <p class="services__description">At The King's Luxury Wears, we have a passion for fashion and are constantly searching to fill our 
                    collection with a limited selection of unique pieces.</p>
            </div>

            <div class="services__content">
                <h3 class="services__title">Unique Boutique</h3>
                <p class="services__description">We offer our clients excellent quality services for many years, with the best in the city.</p>
            </div>

            <div class="services__content">
                <h3 class="services__title">Fast Delivery</h3>
                <p class="services__description">We have one of the best delivery option to follow. Ordered products are delivered in 1 or 2 days after Ordered</p>
            </div>
        </div>
    </section>
</main>

<br><br><br>

<%- include ('_layouts/footer1') %> 