<%- include ('_layouts/header1') %> 
<br>
<div class="center">
    <h4>A continuation mail has been to your E-mail, <br> kindly check your mail and continue the process.</h4>
    <br><br>
    <p>Thanks for having trust with us. </p>
    <p> We are looking forward for the successful retrieval of your password.</p>
</div>

<%- include ('_layouts/footer1') %> 