<%- include ('_layouts/header1') %> 

<main class="l-main">
  
    <!--========== ABOUT ==========-->
    <section class="about section bd-container">
        <div class="containermax left">
                <h2 class="section-subtitle about__initial" style="text-align: center;font-size: 250%;">Terms Of Services</h2> <br><br>
                <h3>1. Introduction</h3>
                <p>The King’s Luxury Wears operates an ecommerce platform consisting of a website and office, together with supporting logistics and payment infrastructure, for the sale and purchase of consumer products in Nigeria ("territory").
                    These general terms and conditions shall apply to buyers and sellers on the website and shall govern your use of the website and related services.
                    By using our website, you accept these general terms and conditions in full. If you disagree with these general terms and conditions or any part of these general terms and conditions, you must not use our website.
                    If you use our website in the course of a business or other organizational project, then by so doing you:
                    </p><br>
                <ul>
                    <li style="padding-left:10px">•	confirm that you have obtained the necessary authority to agree to these general terms and conditions;</li>
                    <li style="padding-left:10px">•	bind both yourself and the person, company or other legal entity that operates that business or organizational project, to these general terms and conditions; and</li>
                    <li style="padding-left:10px">•	agree that "you" in these general terms and conditions shall reference both the individual user and the relevant person, company or legal entity unless the context requires otherwise.</li>
                </ul>
                <br><br><br>
                <h3>2. Registration and Account</h3><br>
                <p>A.	You may not register with our website if you are under 18 years of age (by using our website or agreeing to these general terms and conditions, you warrant and represent to us that you are at least 18 years of age).</p><br>
                <p>B.	You may register for an account with our website by completing and submitting the registration form on our website </p><br>
                <p>C.	You represent and warrant that all information provided in the registration form is complete and accurate.</p><br>
                <p>D.	If you register for an account with our website, you will be asked to provide an email address and password and you agree to:</p><br>
                <ul>
                    <li style="padding-left:10px">•	keep your password confidential;</li>
                    <li style="padding-left:10px">•	notify us in writing immediately and you become aware of any disclosure of your password; and</li>
                    <li style="padding-left:10px">•	be responsible for any activity on our website arising out of any failure to keep your password confidential, and that you may be held liable for any losses arising out of such a failure.</li>
                </ul><br>
                <p>E.	Your account shall be used exclusively by you and you shall not transfer your account to any third party. If you authorize any third party to manage your account on your behalf this shall be at your own risk.</p><br>
                <p>F.	We may suspend or cancel your account, and/or edit your account details, at any time in our sole discretion and without notice or explanation, providing that if we cancel any products or services you have paid for but not received, and you have not breached these general terms and conditions, we will refund you in respect of the same.</p><br>
                <p>G.	You may cancel your account on our website by contacting us.</p><br>
                <br>
                <h3>3. Terms and conditions of sale</h3>
                <p>A.	You acknowledge and agree that:</p>
                <ul>
                    <li style="padding-left:10px">•	the website provides an online location for we to sell and buyers to purchase products;</li>
                    <li style="padding-left:10px">• 	we shall accept binding sales;</li>
                    <li style="padding-left:10px">• 	contract for the sale and purchase of a product or products will come into force between us and the buyer, and accordingly you commit to buying the relevant product or products, upon the buyer’s confirmation of purchase via the website.</li>
                </ul><br>
                <p>B.	Subject to these general terms and conditions, our terms of business shall govern the contract for sale and purchase between us and the buyer. Notwithstanding this, the following provisions will be incorporated into the contract of sale and purchase between us and the buyer:</p>
                <ul>
                    <li style="padding-left:10px">• 	the price for a product will be as stated in the relevant product listing;</li>
                    <li style="padding-left:10px">• 	the price for the product must include all taxes and comply with applicable laws in force from time to time;</li>
                    <li style="padding-left:10px">• 	delivery charges, packaging charges, handling charges, administrative charges, insurance costs, other ancillary costs and charges, will only be payable by the buyer if this is expressly and clearly stated in the product listing;</li>
                    <li style="padding-left:10px">• 	products must be of satisfactory quality, fit and safe for any purpose specified in, and conform in all material respects to, the product listing and any other description of the products supplied or made available by the seller to the buyer; </li>
                </ul><br><br>
                <h3>4. Returns and refunds</h3>
                <p>A.	Returns of products by buyers and acceptance of returned products by The King’s Luxury Wears shall be managed by us in accordance with the returns page on the website, as may be amended from time to time. Acceptance of returns shall be in our discretion, subject to compliance with applicable laws of the territory</p><br>
                <p>B.	Refunds in respect of returned products shall be managed in accordance with the refunds page on the website, as may be amended from time to time. Our rules on refunds shall be exercised in our discretion, subject to applicable laws of the territory. We may offer refunds, in our discretion:</p><br>
                <ul>
                    <li style="padding-left:10px">• 	in respect of the product price; and</li>
                    <li style="padding-left:10px">• 	by way of store credits, wallet refunds, mobile money transfer, bank transfers or such other method as we may determine from time to time.</li>
                </ul><br>
                <p>C.	Returned products shall be accepted and refunds issued by The King’s Luxury Wears, for and on behalf of the us.</p><br>
                <p>D.	Changes to our returns page or refunds page shall be effective in respect of all purchases made from the date of publication of the change on our website.</p><br>
                <br>
                <h3>5. Payments</h3>
                <p>You must make payments due under these general terms and conditions in accordance with the Payments Information and Guidelines on the website.</p><br>
                <br>
                <h3>6. Copyright and trademarks</h3>
                <p>A.	Subject to the express provisions of these general terms and conditions:</p>
                <ul>
                    <li style="padding-left:10px">• 	we, together with our licensors, own and control all the copyright and other intellectual property rights in our website and the material on our website; and</li>
                    <li style="padding-left:10px">• 	all the copyright and other intellectual property rights in our website and the material on our website are reserved.</li>
                </ul><br>
                <p>B.	The King’s Luxury Wears’ logos and our other registered and unregistered trademarks are trademarks belonging to us; we give no permission for the use of these trademarks, and such use may constitute an infringement of </p><br>
                <p>C.	The third party registered and unregistered trademarks or service marks on our website are the property of their respective owners and we do not endorse and are not affiliated with any of the holders of any such rights and as such we cannot grant any license to exercise such rights</p><br>
                <br>
                <p class="center">Ready to Start Exploring our Platform?</p> <br>
                <p class="center"><a class="button" href="/products">Explore Now!</a></p>

            </div>
    </section>
</main>


<%- include ('_layouts/footer1') %> 