<%- include ('_layouts/header1') %> 
<br>
<div class="center">
    
    <p>Your transaction was successful</p>
    <p>Your transaction reference is <%= reference %> </p> <br>
    <p>Click <a href="/products">here</a> to go back</p>
</div>

<%- include ('_layouts/footer1') %> 