<%- include ('_layouts/header1') %> 
<br>
<div class="center">
    
    <p>Your transaction was successful</p>
    <p>Your transaction reference is <%= reference %> </p>
</div>

<%- include ('_layouts/footer1') %> 